*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/matisse/build/
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
matisse/build/
test2/
